html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
    border: 1px solid green;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
  /* border: 1px solid grey */
}



main{
  display: flex;
  position:absolute;
  top:0px;
}

span blockquote{
  background: rgb(49, 49, 87);
  padding: 0.1rem .5rem;
  padding-top: .3rem;
  margin: 1rem;
  margin-right: .25rem;
  margin-left: 0rem;
  border-radius: .25rem;
  border-left: 4px solid rgb(93, 93, 116);
}

span blockquote[data-variant='info']{
  background: #225;
  border-color: #66f;
}

span blockquote[data-variant='alert']{
  background: #776c2c;
  border-color: rgb(230, 189, 8);
}

span blockquote[data-variant='error']{
  background: #772c2c;
  border-color: rgb(230, 8, 8);
}

span blockquote[data-variant='instructions']{
  background: #195800;
  border-color: rgb(0, 169, 14);
}

span h1, span h2, span h3, span h4{
  color:white
}

span a{
  color:rgb(115, 150, 247);
  font-weight: bold;
  /* text-decoration: underline; */
}
span a:hover{
  color:#2525fd;
}


span code{
  background: #333;
  padding: .1rem .2rem;
  color:rgb(152, 162, 255);
  margin: 0;
  border-radius: .25rem;
  font-family: 'Courier New', Courier, monospace;
}

.prism-code{
  padding: .25rem .5rem;
  border-radius: .5rem;
  font-size: .8rem;
  background: #000 !important;
}

.mantine-Modal-header{
  font-weight: bold;
}

.web3modal-modal-container{
  /* background: red; */
  padding-top: 80px !important;
}


@media only screen and (max-width: 992px) {


  .web3modal-modal-container{
    /* background: green; */
  }
  .web3modal-provider-wrapper,
  .web3modal-provider-icon,
  .web3modal-provider-description
  {
    font-size: 1rem !important;
  }
  .web3modal-provider-name
  {
    font-size: 1.2rem !important;
  }
}



.quik-menu{
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
}

.quik-menu > * {
  margin-top: 10px;
}


hr{
  width: 100%;
}


.debugger-open{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  right: 0;
  width: 30rem;
  height: 100vh;
  background: #800;
  color:white;
  z-index: 100000;
  overflow:auto;
  font-size: .8rem;
  padding: 8px;
  transition: .3s;
}


.debugger-closed{
  overflow: hidden;
  transition: .3s;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 16px;
  height: 16px;
  border-bottom-left-radius: 8px;
  background: #800;
  color:transparent;
  z-index: 100000;
}

.identicon{
  border-radius: 50%;
}


span p {
  margin-top: 1rem
}

table{
  border-collapse: collapse;
  font-size: .8rem;
}

thead{
  font-weight: bold;
  border-bottom: 1px solid white;
}
td{
  padding: .5rem
}
tr:nth-of-type(odd){
  background: rgb(100,100,100,.2);
}

td {
  border-right: 1px solid grey;
}
td:last-child{
  border-right: 0px solid grey;
}

thead td {
  border-right: 1px solid white;
}
thead td:last-child{
  border-right: 0px solid white;
}