html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* border: 1px solid grey */
}

main{
  display: flex;
  position:absolute;
  top:0px;
}

span blockquote{
  background: #334;
  padding: 0.1rem .5rem;
  margin-left: 1rem;
  border-radius: .25rem;
  border-left: 4px solid rgb(93, 93, 116);
}

span blockquote[data-variant='info']{
  background: #225;
  border-color: #66f;
}

span blockquote[data-variant='alert']{
  background: #776c2c;
  border-color: rgb(230, 189, 8);
}

span blockquote[data-variant='error']{
  background: #772c2c;
  border-color: rgb(230, 8, 8);
}

span a{
  color:#66f;
  /* text-decoration: underline; */
}
span a:hover{
  color:#2525fd;
}

span code{
  background: #333;
  padding: .1rem;
  margin: 0;
  border-radius: .25rem;
}

span pre{
  margin: 0;
  padding: 0rem;
}